<div class="jumbotron jumbotron-fluid">
  <div class="wrapper">
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/home">Characters</a>
  </nav>
</div>
  <h1>
    <img
      class="star_kirby1"
      src="https://media0.giphy.com/media/l1TqbI4ZAXUs1bb70k/giphy.gif?cid=6c09b9525puh1hlldkcu7podjff6ytuillxy5oc78hljp6qv&rid=giphy.gif&ct=s"
    />{{ title
    }}<img
      class="star_kirby2"
      src="https://media0.giphy.com/media/l1TqbI4ZAXUs1bb70k/giphy.gif?cid=6c09b9525puh1hlldkcu7podjff6ytuillxy5oc78hljp6qv&rid=giphy.gif&ct=s"
    />
  </h1>
  <img class="kirby" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/347b1ddd-5231-4d82-8550-1fd0f0dc4afb/d47c3hp-2a5d28c0-36f4-4b3b-b906-44c526f136cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM0N2IxZGRkLTUyMzEtNGQ4Mi04NTUwLTFmZDBmMGRjNGFmYlwvZDQ3YzNocC0yYTVkMjhjMC0zNmY0LTRiM2ItYjkwNi00NGM1MjZmMTM2Y2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XrmG5ZQ_8qE24e97-3Tnv1tVSIU2lDjMq6G7utaNGgg"/>
  <div class="wrapper">
    <h2>
      Kirby is the titular pink puff and main protagonist of Nintendo's Kirby
      series of video games. He made his debut appearance in 1992, starring in
      Kirby's Dream Land. The series has been running for three decades, and
      over thirty titles have been released under Kirby's name, most of which
      are developed by HAL Laboratory, Inc. or published by HAL for
      co-developing studios. Kirby has been featured in his own anime series,
      many manga publications in several countries, comics in numerous
      countries, and even an educational video co-starring Mario. The Kirby
      series is frequently merchandised by Nintendo, although most of its
      products are only released in Japan.
    </h2>
  </div>

  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
